#app {
  background-color: #f4f5f7;
  border: 2px solid #e0e0e0;
  border-radius: 5pt;
  display: inline-block;
  margin: auto;
  text-align: center;

  > * {
    margin: 10pt;
  }

  > .table {
    margin: 0;
  }

  i.material-icons {
    cursor: pointer;
    font-size: 1.5rem;
    margin: 0 2pt;
    opacity: 0.5;
  }
  i.material-icons:hover {
    opacity: 1;
  }
}
