@import "../index";

.table {
  > div,
  > form {
    padding: 6pt 0;
    border-bottom: 1pt solid #dadada;
    span,
    input,
    textarea {
      display: inline-block;
      text-align: center;
      width: 100pt;
      font-size: 1rem;
    }
    &:last-child {
      border-bottom: none;
    }
  }
  .table-header {
    font-weight: bold;
    border-color: $dark;
  }
  .table-row {
    * {
      vertical-align: middle;
    }
    input,
    textarea {
      border: 1pt solid #dadada;
      background-color: #f9f9f9;
      padding: 2pt 0;
    }
    textarea {
      text-align: left;
      margin-bottom: 5pt;
      width: 100%;
      height: 80pt;
    }
    .error-message {
      border: none;
    }
    .status {
      position: relative;
      span,
      input {
        width: 1rem;
        height: 1rem;
        background-color: #ff0000;
        border-radius: 100%;
        &.enabled {
          background-color: #00dd00;
        }
      }
    }
  }
}
