@import "../index";

$red: #e04328;
$green: #6ccc13;

.table {
  > div,
  > form {
    padding: 6pt 0;
    border-bottom: 1pt solid #dadada;
    span,
    input,
    textarea,
    select {
      display: inline-block;
      text-align: center;
      width: 120pt;
      font-size: 1rem;
    }
    &:last-child {
      border-bottom: none;
    }
  }
  .table-header {
    font-weight: bold;
    border-color: $dark;
  }
  .table-row {
    * {
      vertical-align: middle;
    }
    input,
    textarea,
    select {
      border: 1pt solid #dadada;
      background-color: #f9f9f9;
      padding: 2pt 0;
    }
    textarea {
      text-align: left;
      margin-bottom: 5pt;
      width: 100%;
      height: 80pt;
    }
    .error-message {
      border: none;
    }
    .status {
      .react-toggle .react-toggle-track {
        background-color: $red;
      }
      .react-toggle--checked .react-toggle-track {
        background-color: $green;
      }
      > span {
        background-color: $red;
        border-radius: 100%;
        width: 0.75rem;
        height: 0.75rem;
        &.enabled {
          background-color: $green;
        }
      }
    }
  }
}
