@import "../index";

$tablePadding: 6pt;

.table {
  width: 460pt;
  .table-header,
  .table-row {
    > :last-child {
      width: 60pt;
    }
    .fill {
      width: 100%;
    }
  }
  > * {
    > * {
      padding: $tablePadding 0;
      vertical-align: middle;
    }
    span,
    input,
    textarea,
    select {
      display: inline-block;
      font-size: 1rem;
      text-align: center;
      width: 100pt;
    }
  }
  form {
    margin-bottom: 0;
  }
}
