@import "../index";

.table {
  .table-header {
    font-weight: bold;
    background-color: $medium;
    :last-child {
      background-color: $medium;
    }
    .sorter {
      user-select: none;
      &:hover {
        background-color: darken($medium, 10%);
        cursor: pointer;
      }
    }
  }
}
