@import "../global";

.table {
  .table-navigation {
    background-color: $medium;
    > * {
      margin: 0 10pt;
    }
    input {
      margin-left: 4pt;
      padding: 1pt;
      width: 4rem;
    }
  }
}
