@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700");
@import "global";

html {
  background-color: $light;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  display: flex;
  height: 100%;
}
